<h1><%= @animal.name %></h1>

<img src="<%= @animal.image_url %>" alt="IMAGE"  >
<p> recent: <%= @animal.recent? %> </p>
<a href= " <%= @animal.url %> " > source </a>
<p> <%= @animal.common_name %> </p>